.container {
  position: relative;
  display: flex;
  height: 280px;
  width: 755px;
  background-color: rgb(254, 213, 65);
  align-items: center;
  justify-content: center;
}

.purple {
  background-color: rgb(175, 58, 251);
  height: 105px;
  width: 105px;
}

