* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  margin: 0px auto;
}

.wrapper > * {
  width: 100%;
}

.header {
  background-color: cyan;
  height: 15%;
  min-height: 60px;
}

.main {
  display: flex;
}

.main > * {
  height: 100%;
}

.orange {
  background-color: rosybrown;
  width: 200px;
}

.red {
  background-color: tomato;
  flex: 1;
  margin: 0 10px;
  justify-content: flex-end;
  display: flex;
}

.black {
  height: 40px;
  width: 40px;
  background-color: black;
  align-self: flex-end;
  margin: 0 10px 10px 0;
}

.purple {
  background-color: rebeccapurple;
  width: 200px;
}

.footer {
  height: 15%;
  min-height: 60px;
  background-color: blue;
}    
