.container {
  position: relative;
  display: flex;
  height: 200px;
}

.green {
  flex-grow: 1;
  background-color: #57d226;
}

.yellow {
  flex-grow: 2;
  background-color: rgb(254, 213, 65);
}

.purple {
  flex-grow: 1;
  background-color: rgb(175, 58, 251);
}