* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  min-height: 2000px;
  width: 80%;
  margin: 110px auto 0 auto;
}

.green {
  flex-grow: 1;
  order: 2;
  background-color: #57d226;
}

.yellow {
  flex-grow: 3;
  order: 1;
  background-color: rgb(254, 213, 65);
  margin: 0 10px 0 0;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(175, 58, 251);
  list-style-type: none;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.button-container {
  margin: 20px;
  display: flex;
}

.cyan {
  max-height: 20px;
  min-width: 80px;
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12px;
  background-color: rgb(59, 234, 253);
  margin: auto 0px auto 15px;
  padding: 8px;
  overflow: hidden;
}

.footer {
  background-color: slategray;
  width: 100%;
  min-height: 10%;
  margin: 10px 0 0 0;
}
