.main {
  position: relative;
  display: flex;
  margin: 0px auto;
  width: 900px;
  height: 80%;
}

.green {
  flex-grow: 1;
  order: 2;
  background-color: #57d226;
}

.yellow {
  flex-grow: 3;
  order: 1;
  background-color: rgb(254, 213, 65);
}

.header {
  height: 80px;
  width: 900px;
  position: relative;
  display: flex;
  margin: 0px auto;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(175, 58, 251);
  list-style-type: none;
  padding: 0px;
}

.cyan {
  height: 60%;
  min-width: 80px;
  max-width: 120px;
  color: rgb(59, 234, 253);
  background-color: rgb(59, 234, 253);
  margin: auto 0px auto 15px;
}

body {
  margin: 0px;
}