.container {
  display: flex;
  height: 280px;
  width: 100%;
  background-color: rgb(254, 213, 65);
  justify-content: flex-end;
  list-style-type: none;
  padding: 0px;
}

.item {
  position: relative;
  background-color: rgb(175, 58, 251);
  height: 105px;
  width: 105px;
  margin: 0px 0px 0px 5px;
  align-self: flex-end;
}

body {
  margin: 2px 0px;
}